/*
** Styles used in the jQuery Essential Training course materials
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
    line-height: 1.2em;
    /*background-color: #71dd0b;*/
    height: 4000px;
}


ul {
    display: inline-block;
    cursor: move;
    text-align: left;
    width: 300px;
    max-width: 100%;
}

li {
    color: lightgray;
}

li:first-child {
    font-size: 130%;
    color: white;
}

input[type='submit'] {
    background-color: red;
    border: 0;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}